
.paragraph{
    font-size: 22px;
    line-height: 1.6;
    color: #C4C5C5;
    margin-bottom: 30px;
}
.cardWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}
.signInWrapper{
    margin-top: 30px;
}
.signintext{
    color: #0077FF;
}